:root {
    --main-bg-color: #f5f6fa;
    --loading-color:#27ae60;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .ld-part {
  background-color: var(--loading-color);
  height: 0;
  width: 4px;
  margin: 0 3px;
  animation: loading 1s infinite;
  border-radius: 4px;
}

.loading .ld-part:nth-child(2) {
  animation-delay: 0.1s;
}

.loading .ld-part:nth-child(3) {
  animation-delay: 0.2s;
}

.loading .ld-part:nth-child(4) {
  animation-delay: 0.3s;
}

.loading .ld-part:nth-child(5) {
  animation-delay: 0.4s;
}

.loading .ld-part:nth-child(6) {
  animation-delay: 0.5s;
}

.loading .ld-part:nth-child(7) {
  animation-delay: 0.6s;
}

.loading .ld-part:nth-child(8) {
  animation-delay: 0.7s;
}

.loading .ld-part:nth-child(9) {
  animation-delay: 0.8s;
}

.loading .ld-part:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes loading {
  0%, 100% {
    height: 0;
  }
  
  50% {
    height: 30px;
  }
  
}